.checklist-container {
    background-color: #ffffff00;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    margin: 5% 0 0 8%;
}

.checklist-container h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

.checklist {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;
}

.checklist li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #dddddd00;
    border-radius: 4px;
    width: 1000px;
}

input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
    background-color: green;
}

label {
    font-size: 16px;
    color: #555;
    cursor: pointer;
    width: 50%;
}

/* Reset Button Styling */
#reset-button,
#check-button,
#next-button {
    display: block;
    margin: 20px;

    height: 60px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset-button:hover,
#check-button:hover,
#next-button:hover {
    background-color: #0056b3;
}

.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.button-div a{
    text-decoration: none;
    
}
