body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
}

.sidebar {
    width: 250px;
    background-color: #004997;
    padding: 15px;
    height: 100vh;
    text-align: center;
    position: fixed;
}

.links a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;
    border-radius: 1rem;
}

.links a:hover {
    background-color: #007bff;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px;
}

.checklist {
    display: none;
}

.checklist.active {
    display: block;
}

.content li {
    list-style: none;
    text-decoration: none;
    margin: 30px 0 0 45px;
}

.content h1 {
    font-size: 50px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
}

input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
    background-color: green;
}

label {
    font-size: 16px;
    color: #555;
    cursor: pointer;
    width: 50%;
}

#reset-button,
#check-button,
#next-button {
    display: block;
    margin: 20px;

    height: 60px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset-button:hover,
#check-button:hover,
#next-button:hover {
    background-color: #0056b3;
}

.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.button-div a {
    text-decoration: none;
}
