body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f0f0f0;
}

.sidebar {
    width: 15%;
    height: 100vh;
    background-color: #004aad; /* Updated blue color */
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

.home-button {
    display: block;
    margin-bottom: 20px;
}

.home-button img {
    width: 200px; /* Adjust the size as needed */
    height: auto;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center links horizontally */
    justify-content: center; /* Center links vertically */
    height: 100%; /* Take full height for vertical centering */
}

.sidebar h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%; /* Ensure full width for centering */
}

.sidebar ul li {
    margin-bottom: 10px;
    text-align: center; /* Center links */
    padding: 15px;
}

.sidebar ul li:hover {
    background-color: #366db6;
    border-radius: 1rem;
    color: #ffcc00;
}

.sidebar ul li:active {
    background-color: #366db6;
    border-radius: 1rem;
    color: #ffcc00;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.main-content {
    margin-left: 17%; /* Width of the sidebar + some margin */
    width: 83%;
}

.main-content h1 {
    font-size: 50px;
    color: #333;
    margin: 5% 0 0 5%;
}

.main-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    margin-left: 5%;
}
